$kenyan-copper: #761A0A;
$bottle-green: #0C401E;

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.content {
  align-items: center;
  background-color: $kenyan-copper;
  border: 4rem solid darken($bottle-green, 10%);
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  color: lighten($kenyan-copper, 45%);
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-around;
  padding: 0 10%;
  text-align: center;
  .b-quote {
    .e-quote {
      font-size: 3rem;
      padding: 1em;
    }
    .e-source, .e-title {
      font-size: 1.5rem;
      padding: 0.5em;
    }
    .e-source {
      color: lighten($kenyan-copper, 15%)
    }

    .e-title {
      color: darken($kenyan-copper, 15%)
    }
  }
  footer a {
    font-size: 1rem;
    color: lighten($bottle-green, 15%);
  }
}


.button {
  display: inline-block;
  height: 2rem;
  width: 15rem;
  margin: 1em;
  font-size: 2rem;
  line-height: 2rem;
  background-color: darken($kenyan-copper, 10%);
  border: black solid 1px;
}
